body{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin: 0%;

}

.welcome{
    font-weight: 800;
    font-size: 60px;
    margin-bottom: -3%;
    color: rgb(255, 255, 255);
}
.name{
    
    font-weight: 800;
    color: orange;
    font-size: 60px;
    margin-bottom: -3%;
}
.himel{
font-weight: 600;
font-size: 60px;
color: rgb(255, 255, 255);
margin-bottom: -3%;
}
.pro{
    font-weight: 600;
    font-size: 20px;
    color: white;
    
    

}
.info{
    font-size: 20px;
    text-align: justify;
    margin-right: 20px;
    color: white;
    
}
.flexible{
    display: flex;
    
    
}
.half-width{
    width: 50%;
    padding-left: 8%;
    padding-top: 150px;
    padding-bottom: 150px;
}
.half{
    width: 50%;
    padding-top: 3%;

}

.button{
font-weight: 600;
font-size: 20px;
color: rgb(0, 0, 0);
text-decoration: none;
background-color: orange;
padding: 6px 12px;
border-radius: 8px;
background-image: linear-gradient(#ff930f,#fff95b);
box-shadow: rgba(50, 50, 93, 0.747) 0px 50px 100px -20px, rgba(0, 0, 0, 0.555) 0px 30px 60px -30px;
}
.banner{

    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
}
.onlyhalf{
    width: 50%;
    size: 10%;
    
}
section dream-big{
display: flex;
}
.halfwidth{
    width: 50%;
    margin-left: 20%;
    margin-top: 5%;
    margin-right: 10%;
    

}
.big{
    font-weight: 800;
    font-size: 60px;
    margin-top: 20%;
    margin-bottom: -3%;
    color: white;
    
}
.picsize{
    width: 75%;
    margin-top: 25%;
    margin-left: 25%;
    margin-bottom: 25%;
}
.become{
    
    font-weight: 600;
    font-size: 30px;
    color: rgb(0, 0, 0);
    color: white;
}
.nextpara{
    margin-right: 10%;
    font-size: 20px;
    text-align: justify;
    margin-right: 20px;
    color: rgb(0, 0, 0);
    color: white;
}
.dream-big{
    background-image: url(images/bg22.jpg);
    background-repeat: no-repeat;
}
.drm{
    color:orange
}
.experience{
    margin-top: -2%;
    background-image: url(images/section3.jpg);
    background-repeat: no-repeat;
    height: 1000px;
    padding-top: 10px;
    

}
.exp{
    font-weight: 800;
    color: orange;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 60px;
    font-size: 60px;
}
.junior{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid rgba(255, 255, 255, 0.45);
    -webkit-backdrop-filter: blur(4.4px);
    backdrop-filter: blur(4.4px);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    
}
.glassa{
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-align: justify;
    
}
.jvisu{
    color: #27E3C0;
    text-align: center;
}
.svisu{
    color: #27E3C0;
    text-align: center;
}
.year{
   
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #ff930f;
}
.copyright{
    font-size: 18px;
    color: white;
    padding-top: 90px;
    text-align: center;
    
}